@tailwind base;
@tailwind components;

.side-drawer{
    @apply h-full w-2/3 fixed top-0 z-30 shadow-2xl;
    background-color: #f6f9fc;
    right: -66%;
    transition: all 0.3s ease-out;
}

.side-drawer.hide{
    visibility: hidden;
}

.side-drawer.open{
    right: 0;
}

.blink{
    animation: blinkingText 1s infinite
}

.project-shadow{
    -webkit-box-shadow: 0px 0px 67px -35px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 67px -35px rgba(0,0,0,0.75);
box-shadow: 0px 0px 67px -35px rgba(0,0,0,0.75);
}

@keyframes blinkingText{
    0%{     background-color: #4a5568;}
    25%{     background-color: #4a5568;}
    50%{     background-color: #4a5568;}
    65%{     background-color: #e2e8f0;}
    75%{     background-color: #e2e8f0;}
    100%{   background-color: #e2e8f0;    }
}

@tailwind utilities;

body{
    background-color: #f6f9fc;
    font-family: @apply font-mono;
    height: 100vh;
}

html{
    height: 100vh;
}

