@tailwind base;
@tailwind components;

.side-drawer{
    @apply h-full bg-gray-900 w-2/3 fixed top-0 right-0 z-30 shadow-2xl;
    transform: translateX(100%);
    transition: transform 0.3s ease-out;
}

.side-drawer.open{
    transform: translateX(0%);
    transition: transform 0.3s ease-out;
}

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    @apply bg-gray-900;
    font-family: 'Poppins', 'sans-serif';
    height: 100vh;
}

html{
    height: 100vh;
}

